$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$main-color: rgb(67, 193, 241);
$main-color-shadow: rgba(67, 193, 241, 0.5);
$accent-color: rgb(95, 95, 95);
$accent-color-shadow: rgba(95, 95, 95, 0.5);
$main-color-f: $black;
$accent-color-f: $black;
