<header id="navbar">
    <div class="navbar-wrapper">
        <div class="logo-wrapper">
            <a href="">
                <img src="{{site.baseurl}}/assets/images/logo.webp" alt="">
            </a>
            <div class="brand-text">
                <p>
                    skyline home builders inc
                </p>
            </div>
        </div>
        <div class="primary-menu-wrapper">
            <input type="checkbox" id="burger">
            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav class="links">
                <ul>
                    {% if page.url == '/' %}
                    <li class="active">                        
                        <div class="dropdown">
                            <a href="/">
                                <button class="dropdown-btn" type="button">home</button>
                            </a>
                        </div>
                    </li>
                    {% else %}                    
                    <li>                        
                        <div class="dropdown">
                            <a href="/">
                                <button class="dropdown-btn" type="button">home</button>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    {% if page.url == '/projects.html' %}
                    <li class="active">
                        <div class="dropdown">
                            <a href="/projects.html">
                                <button class="dropdown-btn" type="button">previous projects</button>
                            </a>
                        </div>
                    </li>
                    {% else %}  
                    <li>
                        <div class="dropdown">
                            <a href="/projects.html">
                                <button class="dropdown-btn" type="button">previous projects</button>
                            </a>
                        </div>
                    </li>
                    {% endif %}     
                    {% if page.url == '/contact.html' %}
                    <li class="active">
                        <div class="dropdown">
                            <a href="/contact.html">
                                <button class="dropdown-btn" type="button">contact</button>
                            </a>
                        </div>
                    </li>   
                    {% else %}  
                    <li>
                        <div class="dropdown">
                            <a href="/contact.html">
                                <button class="dropdown-btn" type="button">contact</button>
                            </a>
                        </div>
                    </li>   
                    {% endif %}                                                   
                </ul>
            </nav>
        </div>
    </div>
</header>