section.about-us {
  padding: 20px;
  margin-top: 100px;
  @media screen and (min-width: 1024px) {
    margin-top: 300px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 200px;
  } 
  .grid {
    * {
      margin: 10px 0;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 280px;
    .about-us-item {
      box-sizing: border-box;
      padding: 0 20px;
      @media screen and (min-width: 600px) {
        padding: 0 20px;
        min-width: 300px;
      }
      flex-basis: 33.333333%;
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      align-items: center;
      flex-direction: column;
      .icon {
        flex: 0 0 1;
        i {
          font-size: 2em;
          color: $accent-color;
        }
      }
      .number {
        font-size: 3em;
        color: $main-color;
        font-weight: 700;
      }
      .title {
        font-size: 1.5em;
      }
      .body {
        line-height: 1.5em;
        text-align: justify;
        @media screen and (min-width: 600px) {
          text-align: center;
        }
      }
      &:hover {
        box-shadow: 0 0px 8px 1px $accent-color-shadow;
        border-radius: 8px;
        transition: 0.75s;
      }
    }
  }
}
